<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
  <display-name>MyServlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>Demo</servlet-name>
  <servlet-class>Demo</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Demo</servlet-name>
  <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>PurchaseServlet</servlet-name>
  <servlet-class>PurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>PurchaseServlet</servlet-name>
  <url-pattern>/PurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>BillSer</servlet-name>
  <servlet-class>BillSer</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BillSer</servlet-name>
  <url-pattern>/BillSer</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>DbCon</servlet-name>
  <servlet-class>DbCon</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DbCon</servlet-name>
  <url-pattern>/DbCon</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>EmpLogSer</servlet-name>
  <servlet-class>EmpLogSer</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EmpLogSer</servlet-name>
  <url-pattern>/EmpLogSer</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>EmpRegSer</servlet-name>
  <servlet-class>EmpRegSer</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EmpRegSer</servlet-name>
  <url-pattern>/EmpRegSer</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>Customer</servlet-name>
  <servlet-class>Customer</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Customer</servlet-name>
  <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>LeaveUploadServlet</servlet-name>
  <servlet-class>LeaveUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LeaveUploadServlet</servlet-name>
  <url-pattern>/LeaveUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ServerInfo</servlet-name>
  <servlet-class>ServerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ServerInfo</servlet-name>
  <url-pattern>/ServerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Shop</servlet-name>
  <servlet-class>Shop</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Shop</servlet-name>
  <url-pattern>/Shop</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Shop1</servlet-name>
  <servlet-class>Shop1</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Shop1</servlet-name>
  <url-pattern>/Shop1</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Shop2</servlet-name>
  <servlet-class>Shop2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Shop2</servlet-name>
  <url-pattern>/Shop2</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>CustDemo</servlet-name>
  <servlet-class>CustDemo</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CustDemo</servlet-name>
  <url-pattern>/CustDemo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>SerInfo</servlet-name>
  <servlet-class>SerInfo</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>SerInfo</servlet-name>
  <url-pattern>/SerInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Book1</servlet-name>
  <servlet-class>Book1</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Book1</servlet-name>
  <url-pattern>/Book1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Book2</servlet-name>
  <servlet-class>Book2</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Book2</servlet-name>
  <url-pattern>/Book2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Book3</servlet-name>
  <servlet-class>Book3</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Book3</servlet-name>
  <url-pattern>/Book3</url-pattern>
  </servlet-mapping>
</web-app>